<!DOCTYPE html>
<html lang="en">

<head>
    <title>Grab Hackathon Project - JuBen</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/chatbotstyle.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="../static/images/grab-logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="clinics.html">Clinics</a></li>
                <li><a class="active" href="about.html">About</a></li>
            </ul>
        </div>

    </section>

    <section id="about">
        <p>We are Team JuBen and our goal is to make healthcare accessible for everyone, even in the comfort of our homes. These are the key features that we set out to achieve. We are still working on displaying clinics in the vicinity and allowing our users to book a doctor's appointment.</p>
    </section>

    <section id="features" class="section-p1">
        <div class="feature-container">
            <img src="../static/images/chatbot.svg" alt="" style="width: 100%">
            <h6>Chatbot diagnosis</h6>
            <p>Exhibiting some symptoms? Analyze them with the chatbot.</p>
        </div>
        <div class="feature-container">
            <img src="../static/images/doctor.svg" alt="" style="width: 100%">
            <h6>Online consultation with our partners</h6>
            <p>Book an online consultation slot.</p>
        </div>
        <div class="feature-container">
            <img src="../static/images/telemed.svg" alt="" style="width: 100%">
            <h6>Home consultation with our partners</h6>
            <p>Arrange for a doctor's visit at your doorstep.</p>
        </div>
    </section>

    <script src="script.js"></script>

    <section id="footer">
        <p>Grab HackForGood - Team JuBen &#169;</p>
    </section>
</body>

</html>