<!DOCTYPE html>
<html lang="en">

<head>
    <title>Grab Hackathon Project - JuBen</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/chatbotstyle.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="../static/images/grab-logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="clinics.html">Clinics</a></li>
                <li><a class="active" href="about.html">About</a></li>
            </ul>
        </div>

    </section>

    <script src="script.js"></script>
</body>

</html>