<!DOCTYPE html>
<html lang="en">

<head>
    <title>Grab Hackathon Project - JuBen</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/chatbotstyle.css">
</head>

<body>
    <section id="header">
        <a href="index.html"><img src="../static/images/grab-logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="clinics.html">Clinics</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>

    </section>

    <section id="clinics" class="section-p1">
        <h4>Input location to find clinics nearby</h4>
        <input type="text" placeholder="530556">
        <button>Search</button>
        <div class="clinic-container">
            <div class="clinic">
                <img src="../static/images/excel.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.24km away</span>
                    <h5>Excel Family Clinic</h5>
                    <h4>21 Hougang St 51, Singapore 538719</h4>
                </div>
            </div>
            <div class="clinic">
                <img src="../static/images/idoc.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.30km away</span>
                    <h5>iDOC Clinic (Hougang Green)</h5>
                    <h4>21 Hougang St 51, #01-43, Singapore 538719</h4>
                </div>
            </div>
            <div class="clinic">
                <img src="../static/images/siayeo.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.35km away</span>
                    <h5>Sia Yeo Hougang Clinic Pte Ltd</h5>
                    <h4>573 Hougang St 51, Block 573, Singapore 530573</h4>
                </div>
            </div>
            <div class="clinic">
                <img src="../static/images/everhealth.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.29km away</span>
                    <h5>Everhealth Medical Centre</h5>
                    <h4>540 Hougang Avenue 8 B1, #1235, 530540</h4>
                </div>
            </div>
            <div class="clinic">
                <img src="../static/images/nams.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.40km away</span>
                    <h5>NAMS Specialist Outpatient Clinic C</h5>
                    <h4>Singapore 539747</h4>
                </div>
            </div>
            <div class="clinic">
                <img src="../static/images/silkroutes.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.35km away</span>
                    <h5>SILKROUTES @SENGKANG CLINIC</h5>
                    <h4>274D Compassvale Bow, #01-01, Singapore 544274</h4>
                </div>
            </div>
            <div class="clinic">
                <img src="../static/images/shenton.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.55km away</span>
                    <h5>Shenton Medical Group - Buangkok MRT</h5>
                    <h4>10 Sengkang Central, #01-04 Buangkok NEL MRT Station, Singapore 545061</h4>
                </div>
            </div>
            <div class="clinic">
                <img src="../static/images/prohealth.jpg" alt="" style="height: 250px">
                <div class="description">
                    <span>0.60km away</span>
                    <h5>Prohealth Medical Group @ Buangkok</h5>
                    <h4>275D Compassvale Link, #01-01, Singapore 544275</h4>
                </div>
            </div>
        </div>
        
    </section>

    <section id="footer">
        <p>Grab HackForGood - Team JuBen &#169;</p>
    </section>

    <script src="script.js"></script>
</body>

</html>