<!DOCTYPE html>
<html lang="en">

<head>
    <title>Grab Hackathon Project - JuBen</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/chatbotstyle.css">
</head>

<body>
    <section id="header">
        <a href="index.html"><img src="../static/images/grab-logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="clinics.html">Clinics</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>

    </section>

    <section id="thumbnail">
        <h2>Accessible healthcare for everyone</h2>
        <p>Track your symptoms with our bot.</p>
        <button class="startbutton">Get started</button>
    </section>

    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                            alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="../static/images/1538298822.svg" /></button>
            </div>
        </div>
    </div>

    <section id="footer">
        <p>Grab HackForGood - Team JuBen &#169;</p>
    </section>

    <script src="../static/app.js"></script>
</body>

</html>